body {
  position: relative;
}
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.clock {
  margin-top: -80px;
  margin-bottom: 50px;
  font-size: 150px;
}
.hello {
  margin-bottom: 50px;
  font-size: 70px;
}
.quotes {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.quotes span {
  margin: 10px 0;
}
.todo {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-radius: 5%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.todo-list {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-decoration: none;
}
.todo-input {
  margin-left: 10px;
  width: 250px;
  padding: 10px;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
  color: white;
}
.todo-input::placeholder {
  color: white;
  border: none;
  font-size: 15px;
}

.todo-list button {
  margin-left: 10px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bolder;
}
.todo-list li {
  margin: 5px 0;
}
.geolocation {
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 18px;
  font-weight: bold;
}
